<% @posts.each do |post| %>
	<h3><%= link_to post.title, post %></h3>
	<p><%= post.body %></p>


	<% if signed_in? %>
		<%= User.find_by(id: post.user_id).name %>
		<% if current_userra == User.find_by(id: post.user_id) %>

    | <%= link_to "delete", post, method: :delete, data: { confirm: "You sure?" } %> <% end %>

	<% else %>
		<%= link_to "- anonymous", login_path %>
	<% end %>

	<br><br>
	------------------------------------------
	<br>
<% end %>